@charset "utf-8";
/* CSS Document */
body {
}
.main_wrapper {
	margin: 0 auto;
	width: 810px;
}
.prelike_wrapper {
	background: url(../images/prelike_page.jpg) no-repeat;
	 height: 585px;
    margin: 0 auto;
    position: absolute;
    top: 1px;
    width: 810px;
    z-index: 999;
}
.terms_and_condition_and_private_policy_prelike {
	float: left;
	width: 390px;
	position: absolute;
	bottom: 9px;
	left: 25px;
}
.terms_pp {
	float: left;
	font-family: 'Arial', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.terms_pp ul {
}
.terms_pp ul li {
	float: left;
	padding-left: 5px;
}
.terms_pp ul li.dot_d {
	color: #fff;
	line-height: 12px;
}
.terms_pp ul li a {
	color: #fff;
}
.kfc_logo_footer_prelike {
	float: right;
	position: absolute;
	bottom: 12px;
	right: 17px;
}
/* ☺ ------------------------- ☺ Prelike End ☺ ------------------------- ☺ */
.landing_page {
	margin: 0 auto;
	width: 810px;
	background: url(../images/landing_page.jpg) no-repeat;
	height: 585px;
	position: relative;
}
.left_landing {
	float: left;
	width: 450px;
}
.landing_text_left_1 {
	width: 258px;
	font-family: 'Arial', Helvetica, sans-serif;
	float: left;
	text-align: center;
	padding-top: 168px;
	padding-left: 168px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	-moz-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.submit_button_landing {
	float: left;
	padding-top: 14px;
	padding-left: 180px;
	-moz-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-7.5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.landing_page_text_right_1 {
	float: right;
	width: 172px;
	text-align: right;
	font-size: 13px;
	color: #fff;
	line-height: 13px;
	padding-top: 29px;
	padding-right: 13px;
	font-family: 'Arial', Helvetica, sans-serif;
}
.landing_page_text_right_1 p.landing_text_2 {
	width: 124px;
	float: right;
}
.landing_page_text_right_1 p.landing_text_3 {
	float: right;
	padding-top: 10px;
	width: 92px;
}
/* ☺ ------------------------- ☺ Landing Page End ☺ ------------------------- ☺ */
.third_page_submission_page {
	background: url(../images/3aphoto_submission.jpg) no-repeat;
	width: 810px;
	height: 607px;
	margin: 0 auto;
	position: relative;
}
.submisstion_left_1 {
	float: left;
	width: 322px;
}
.submisstion_left_title {
	width: 305px;
	float: left;
	padding-left: 35px;
	padding-top: 33px;
}
.submisstion_left_title p.yellow_title_left_1 {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #feb300;
	width: 60px;
	float: left;
	line-height: 20px;
	text-align: center;
}
.white_title_left_1 {
	float: left;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	padding-top: 2px;
	text-align: center;
	width: 237px;
    word-spacing: 1px;
	line-height:1;
	letter-spacing: 0.3px;
	text-transform:uppercase;
}
.name_input_submisstion {
	width: 264px;
	float: left;
	padding-left: 40px;
}
.lable {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding-top: 8px;
	text-align: center;
}
.name_input input {
	margin-top: 3px;
	font-family: 'Arial', Helvetica, sans-serif;
	width: 256px;
	height: 20px;
	border: #ffb400 solid 2px;
	padding-left: 5px;
	padding-right: 5px;
	background: #fff;
	border-radius: 2px;
}
.terms_and_condition_text {
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
	/*width: 300px;*/
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding-left: 15px;
	float: left;
	padding-top: 11px;
}
.terms_and_condition_text a {
	color: #fff;
	text-decoration: underline;
}
.submisstion_left_title_1 {
	/*width: 283px;*/
	float: left;
	padding-left: 64px;
	padding-top: 17px;
}
.submisstion_left_title_1 p.yellow_title_left_1 {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #feb300;
	width: 60px;
	line-height: 20px;
	float: left;
	text-align: center;
}
.white_title_left_2 {
	float: left;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	padding-top: 8px;
	text-align: center;
	width: 138px;
}
.computer_facebook_button {
	padding-left: 7px;
	padding-top: 7px;
	float: left;
}
.computer_facebook_button ul {
}
.computer_facebook_button ul li {
	float: left;
	padding-left: 7px;
}
.p_text {
	float:left;
	width:302px;
	padding-top: 2px;
	}
.p_text p.text_white {
	font-family: 'Arial', Helvetica, sans-serif;
	color: #fff;
	font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    text-align: center;
	width:170px;
	margin:0 auto;
}
.submisstion_left_title_3 {
	/*width: 283px;*/
	float: left;
	padding-left: 51px;
	padding-top: 13px;
}

.submisstion_left_title_3 p.yellow_title_left_3 {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #feb300;
	width: 60px;
	line-height: 20px;
	float: left;
	text-align: center;
}
.white_title_left_3 {
	float: left;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	width: 154px;
}
.submit_photo_button {
	float: left;
	padding-left: 15px;
	padding-top: 10px;
}
.frames {
	float:right;
	width:488px;
	overflow:hidden;
	height: 528px;
}
.photo_frame_submission_1 {
	float: left;
	width: 400px;
}
.frame_submisstion_photo_frame {
	width: 332px;
	height: 336px;
	margin-left: 65px;
}
.frame_submisstion_photo_frame img {
	
}
.photo_frame_submission_2 {
	float: left;
	width: 400px;
}
.frame_submisstion_photo_frame_2 {
	background: url(../images/submission_photo_frame_1.png) no-repeat;
	width: 332px;
	height: 334px;
	margin-left: 65px;
	margin-top: 20px;
	z-index: 999999;
	
}
.frame_submisstion_photo_frame_2 img {
	margin-left: 25px;
	margin-top: 41px;
}
.rotate_resize_function_submission {
	width:325px;
	float:left;
	padding-left:66px;
	line-height: 1;
	padding-top:2px;
}
.resize_submission {
	font-family: 'Arial', Helvetica, sans-serif;
	color: #000;
	font-size:12px;
	font-weight:bold;
	float:left;
}
.resize_submission ul {
	
}
.resize_submission ul li {
	text-align:center;
}
.rotate_submission {
	font-family: 'Arial', Helvetica, sans-serif;
	color: #000;
	font-size:12px;
	font-weight:bold;
	float:right;
}
.rotate_submission ul {
	
}
.rotate_submission ul li {
	text-align:center;
}
.submission_thumbnails {
	float: right;
	width: 85px;
}
.thumbnail_title {
	text-align: center;
	color: #fff;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 91px;
	font-weight: bold;
	padding-right: 5px;
	width: 75px;
}
.thumbnails_images {
	padding-top: 8px;
	float: right;
	padding-right: 19px;
}
.thumbnails_images {
	width: 58px;
	cursor: pointer;
}
.thumbnails_images:hover {
	width: 58px;
	height: 59px;
	cursor: pointer;
}
.first_thumbnail {
	width: 65px;
	height: 68px;
	cursor: pointer;
	background:url(../images/thumb_nail_1_sel.png) no-repeat;
	
	/*background:url(../images/thumb_nail_1.png) no-repeat;*/
}
.first_thumbnail1 {
	display:none;
	width: 65px;
	height: 68px;
	cursor: pointer;
	background:url(../images/thumb_nail_1.png) no-repeat;
}
.first_thumbnail1:hover {
	width: 65px;
	height: 68px;
	background:url(../images/thumb_nail_1_sel.png) no-repeat;
}
.second_thumbnail {
	width: 65px;
	height: 68px;
	cursor: pointer;
	margin-top:3px;
	background:url(../images/thumb_nail_2.png) no-repeat;
}
.second_thumbnail1 {
	display:none;
	width: 65px;
	height: 68px;
	cursor: pointer;
	margin-top:3px;
	background:url(../images/thumb_nail_2_sel.png) no-repeat;
}
.second_thumbnail:hover {
	width: 65px;
	height: 68px;
	background:url(../images/thumb_nail_2_sel.png) no-repeat;
}
/*----- amol pic thumbnail -----*/
.first_thumbnail_amol_1 {
	width: 65px;
	height: 68px;
	cursor: pointer;
	background:url(../images/amol_thumbnail.png) no-repeat;
}
.first_thumbnail_amol_1:hover {
	width: 65px;
	height: 68px;
	background:url(../images/amol_thumbnail_sel.png) no-repeat;
}
.second_thumbnail_1 {
	width: 65px;
	height: 68px;
	cursor: pointer;
	margin-top:10px;
	background:url(../images/thumb_nail_2.png) no-repeat;
}
.second_thumbnail_1:hover {
	width: 65px;
	height: 68px;
	background:url(../images/thumb_nail_2_sel.png) no-repeat;
}
/*----- amol pic thumbnail end -----*/
.first_thumbnail_amol_2 {
	width: 65px;
	height: 68px;
	cursor: pointer;
	background:url(../images/amol_thumbnail_1.png) no-repeat;
}
.first_thumbnail_amol_2:hover {
	width: 65px;
	height: 68px;
	background:url(../images/amol_thumbnail_1_sel.png) no-repeat;
}
.second_thumbnail_2 {
	width: 65px;
	height: 68px;
	cursor: pointer;
	margin-top:10px;
	background:url(../images/thumb_nail_2.png) no-repeat;
}
.second_thumbnail_2:hover {
	width: 65px;
	height: 68px;
	background:url(../images/thumb_nail_2_sel.png) no-repeat;
}
/*----- amol 2 pic thumbnail end -----*/
.drag_drop_submission {
    float: left;
    padding-left: 20px;
    position: relative;
    width: 455px;
	}
.drag_drop_submission_images {
	
	}
.drag_drop_submission_images ul {
	
	}
.drag_drop_submission_images ul div {
	float:left;
	}
.drag_drop_submission_images ul div.glasses_1 {
	float: left;
    height: 34px;
    position: relative;
    right: 2px;
    top: 36px;
    width: 76px;
	}
.drag_drop_submission_images ul div.mufral {
	 float: left;
    height: 55px;
    left: 16px;
    position: absolute;
    top: 66px;
    width: 69px;
}
.drag_drop_submission_images ul div.fire {
	 float: left;
    height: 60px;
    left: 90px;
    position: absolute;
    top: 48px;
    width: 51px;
	}
.drag_drop_submission_images ul div.juice {
	 float: left;
    height: 72px;
    left: 55px;
    position: relative;
    top: 28px;
    width: 56px;
	}
.drag_drop_submission_images ul div.sun {
	top: 39px;
    float: left;
    height: 59px;
    left: 213px;
    position: absolute;
    width: 60px;
	}
.drag_drop_submission_images ul div.cap_1 {
	  float: left;
    height: 52px;
    left: 275px;
    position: absolute;
    top: 33px;
    width: 62px;
	}
.drag_drop_submission_images ul div.cap_2 {
	 top: 33px;
    float: left;
    height: 43px;
    left: 338px;
    position: absolute;
    width: 62px;
	}
.drag_drop_submission_images ul div.munch_2 {
	float: left;
    height: 21px;
    position: absolute;
    right: -7px;
    top: 57px;
    width: 71px;
	}
.drag_drop_submission_images ul div.glasses_3 {
	float: left;
    height: 24px;
    left: 407px;
    position: absolute;
    top: 25px;
    width: 68px;
	}
/* ☺ ------------------------- ☺ 3a Photo Submission Page End ☺ ------------------------- ☺ */
.close_button {
	bottom: 5px;
    float: right;
    position: relative;
    right: 145px;
	}
.popup_sricker_limit {
	background:url(../images/small_popup_bg.png) no-repeat;
	width:524px;
	height:209px;
	margin:0 auto;
	margin-top:100px;
	}
.sricker_text_1 {
	width:464px;
	text-align:center;
	color: #fff;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	padding-top:48px;
	margin:0 auto;
	}
.ok_button {
	margin: 0 auto;
    padding-top: 13px;
    text-align: center;
    width: 535px;
	}
.ok_button_pp {
	margin: 0 auto;
    padding-left: 10px;
    padding-top: 50px;
    text-align: center;
	}
/* ☺ ------------------------- ☺ Sricker Limit Pop up End ☺ ------------------------- ☺ */
.popup_congratulation {
	background:url(../images/congratulation_popup_bg.png) no-repeat;
	width:524px;
	height:354px;
	margin:0 auto;
	margin-top:50px;
	}
.congratulation_text {
	width:464px;
	text-align:center;
	color: #fff;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 20px;
	padding-top:146px;
	margin:0 auto;
	}
/* ☺ ------------------------- ☺ Congratulation Pop up End ☺ ------------------------- ☺ */
.close_button_terms {
	float:right;
	position:relative;
	right:70px;
	top:30px;
	}
.popup_terms_policy {
	background:url(../images/terms_and_conditionpop_up_bg.png) no-repeat;
	width:748px;
	height:557px;
	margin:0 auto;
	}
.terms_text {
	text-align:center;
	color: #fff;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 15px;
	padding-top:90px;
	font-weight:bold;
	margin:0 auto;
	width: 610px;
	}
.terms_text p.terms_policy {
	width:591px;
	text-align:left;
	color: #fff;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bold;
	margin: 0 auto;
	line-height: 26px;
	}
/* ☺ ------------------------- ☺ Terms and Condition / Private Policy Pop up End ☺ ------------------------- ☺ */

.maintermandcondition{
	display:none;
	z-index: 99999;
	 position: absolute;
    top: 1px;
    width: 810px;
}

.mainprivacypolicy{
	display:none;
	z-index: 99999;
	 position: absolute;
    top: 1px;
    width: 810px;
}
 #backcover {
	display: none;
	position: absolute;
	z-index: 9999;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: gray;
	filter: alpha(Opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5
	
}


.backend_image{
float: left;
    position: relative;
    z-index: 988;
	 margin-top: 25px;

	
}
.image_user{
	float: left;
    position: absolute;
    right: 114px;
    top: 62px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 25px;
}
.image_user_round{
    float: left;
    margin-top: 25px;
    position: absolute;
    right: 126px;
    top: 43px;
}
.frame_submisstion_photo_frame {
    height: 336px;
    margin-left: 65px;
    width: 332px;
}
.frame_submisstion_photo_frame_round {
    height: 336px;
    margin-left: 65px;
    width: 332px;
}
.user_form_submit{
	background: url(../images/submit_photo_button.png) no-repeat;
	width:267px;
	height:55px;
	float:left;
}
.inner_detailtext{
	float:left;
}
/*-----computer image script css-----*/
.menaa ual lai.submiat
 {
	display: block;
    height: 27px;
    left: 0;
    margin-top: 15px;
    opacity: 0;
    width: 133px;
}

















